VITE_SUPABASE_URL=your_project_url db.fwkcyfmmwnatnszysbyw.supabase.co
VITE_SUPABASE_ANON_KEY=your_anon_key eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ3a2N5Zm1td25hdG5zenlzYnl3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ1NzQ1OTIsImV4cCI6MjA4MDE1MDU5Mn0.p30h8mn9m8dG4cIEgQd6egiEgpuzE41kUTyY0jHWnV0

